@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #DBE6F6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C5796D, #DBE6F6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C5796D, #DBE6F6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  max-width: 650px;
  margin: 30px auto;
  overflow: auto;
  min-height: 350px;
  border: 1px solid black;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: deeppink;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.song {
  background: #eeebeb;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.song h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.add-form {
  margin-bottom: 40px;
}

.radio-container {
  background:#F7B1AB;
	padding: 4px;
	position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 35px;
}

.radio-container input {
  font-family: 'Poppins', sans-serif;
  width: 120px;
  height: 100%;
	appearance: none;
	outline: none;
	cursor: pointer;
	padding: 4px 8px;
	background: #F7B1AB;
	color: rgba(0,0,0,.8);
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	transition: all 100ms linear;
  margin: 0px 5px;
}

.radio-container input:checked {
  background-image: linear-gradient(180deg, #c1766f,#c46d66);
	color: rgb(16, 15, 15);
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}

.radio-container input:before {
  content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}