@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans serif;
}

body {
  align-items: center;
  background: #D8AA96;
  color: rgba(0,0,0,.8);
  display: grid;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  justify-items: center;
}

.body-container {
  display: grid;
  grid-template-areas: "left right";
  max-width: 900px;
}

.right-container { 
  background: #807182;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 500px;
  height: 500px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 2px;
}

.left-container {
  background: #F7B1AB;
  background: linear-gradient(to right bottom, rgba(255, 255, 255,0.5), rgba(255,255,255,0.5));
  display: grid;
  grid-template-areas: "." ".";
  width: 350px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 50px;
}

.header {
  color: rgba(0,0,0,.8);
  font-size: 24px;
  padding: 10px;
  margin: 10px;
}

.btn {
  display: block;
  background: black;
  color: white;
  border: none;
  padding: 5px 15px;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 90%;
}

.add-form {
  margin-top: -150px;
}

.form-control {
  margin: 5px 0;
}

.form-control label {
  display: block;
  margin: 0px 20px;
  font-size: 16px;
}

.form-control input {
  width: 87%;
  height: 25px;
  margin: 0px 20px;
  padding: 5px;
  font-size: 14px;
  opacity: 0.8;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
}

.form-control input:hover, .form-control input:focus { 
  outline: none;
}

.fatimes { 
  margin-top: 4px;
  font-size: 12px;
  margin-right: 10px;
}

.song-header th { 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 10px;
  color:#e9c7b9;
}

.songlist td {
  font-size: 12px;
  padding-left: 10px;
  font-weight: bold;
}

.no-songs { 
  font-size: 20px;
  text-align: center;
}

.rating {
  text-align: center;
  padding: 0;
}